# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [11]:
import numpy as np
import pandas as pd
print("The Pandas version available in your system is: ",pd.__version__)

The Pandas version available in your system is:  1.5.3

In [32]:
# Reading data into a DataFrame # read_csv("data/file1.csv") # file in same folder as jupyter notebook
file1 = pd.read_csv('file1.csv')
print("The variable type of file1 is: ",type(file1))
print()

The variable type of file1 is:  <class 'pandas.core.frame.DataFrame'>

In [31]:
df.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [33]:
# Identify the -dimensions- of the dataset by determining the -number of rows and columns- it contains.
print("This is the size of your pandas DataFrame: ",file1.shape)
print("In other words, your DataFrame has {} rows and {} columns".format(file1.shape[0], file1.shape[1])) # Attribute

This is the size of your pandas DataFrame:  (1007, 17)
In other words, your DataFrame has 1007 rows and 17 columns

In [45]:
# Determine: 
    # the data types of each column 
    # and evaluate whether they are appropriate for the nature of the variable. 
# You should also provide: 
    # suggestions for fixing any incorrect data types.

In [46]:
# Determine: 
    # the data types of each column 
    # and evaluate whether they are appropriate for the nature of the variable. 
    
print(type(file1.columns))

file1.columns

<class 'pandas.core.indexes.base.Index'>

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [58]:
file1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [60]:
df = pd.DataFrame(file1)
data_types = df.dtypes
print(data_types)

CONTROLN      int64
STATE        object
GENDER       object
HV1          object
IC1           int64
IC4         float64
HVP1          int64
IC5          object
POBC1         int64
POBC2         int64
IC2         float64
IC3           int64
AVGGIFT     float64
TCODE         int64
DOB           int64
DOMAIN       object
TARGET_D    float64
dtype: object

In [56]:
# and evaluate whether they are appropriate for the nature of the variable.
For most columns/variables I don't know what they represent. 
Therefore I can't decide if the data type is appropriate or should be changed.

In [ ]:
# suggestions for fixing any incorrect data types.
HV1: This is cast as an object, but changing this into int64 would be better.
It means that all the letters need to be removed and floats should become int64

In [ ]:
# Identify: 
    # the number of -unique values- for each column 
    # and determine which columns appear to be -categorical-. 
# You should also:
    # describe the -unique values- of each -categorical column- 
    # and the -range of values- for -numerical columns-
    # and give your -insights-.

In [66]:
 # the number of -unique values- for each column 
df = pd.DataFrame(file1)
unique_counts = df.nunique()
print(unique_counts)

CONTROLN    999
STATE        43
GENDER        9
HV1         757
IC1         447
IC4         475
HVP1         93
IC5         954
POBC1        52
POBC2        93
IC2         450
IC3         454
AVGGIFT     568
TCODE        11
DOB         293
DOMAIN       17
TARGET_D     47
dtype: int64

In [71]:
# and determine which columns appear to be -categorical-.
df = pd.DataFrame(file1)
categorical_columns = df.select_dtypes(include=['object'])
print("Categorical columns:")
print(categorical_columns)

Categorical columns:
     STATE GENDER      HV1    IC5 DOMAIN
0       FL      M   AAA896  21975     C2
1       IL      M   537.00  19387     T2
2       FL      F   725.00  18837     C2
3       NC      M  AAA1095  14014     T2
4       FL      F   995.00  17991     C2
...    ...    ...      ...    ...    ...
1002    OK    NaN     1040  26962     C2
1003    CA      M     4507  54642     S1
1004    IA      F      586  15304     C2
1005    WA   male      842  12894     S2
1006    FL      F      556  10272     S2

[1007 rows x 5 columns]

In [76]:
# describe the -unique values- of each -categorical column- 
for col in categorical_columns.columns:
    unique_values = df[col].unique()
    print(f"Unique values in '{col}':")
    
    for val in unique_values:
        print(val)
    print()

Unique values in 'STATE':
FL
IL
NC
TX
CA
NV
Cali
AP
KS
MI
OK
AR
IN
MT
WI
MO
HI
UT
GA
WA
ID
CT
AL
ND
SC
IA
CO
LA
OR
SD
TN
NM
AZ
MN
KY
NJ
NE
California
MS
NY
Arizona
WY
Tennessee

Unique values in 'GENDER':
M
F
female
Male
nan
U
J
male
Female
feamale

Unique values in 'HV1':
AAA896
537.00
725.00
AAA1095
995.00
764.00
775.00
890.00
nan
AAA2294
1569
3515
1026
0
376
890
1513
948
258
1951
556
1040
603
526
717
1011
1063
291
1538
592
871
403
715
2346
559
596
706
878
1275
2362
718
2531
2089
765
832
1458
1590
613
477
424
383
688
3500
2143
625
1560
716
1247
611
1431
1089
435
1409
647
415
492
1043
3668
3491
192
824
428
417
399
2377
2016
933
619
3303
960
1236
473
1055
1509
1953
927
2098
5209
476
1515
2158
1110
581
563
740
516
575
2357
645
825
531
195
423
2725
359
1373
1439
889
1993
618
3259
151
892
612
919
697
5059
5667
2750
513
1848
1417
347
994
3542
797
791
957
357
896
402
3083
460
294
1199
1125
974
316
642
1263
1809
5294
1161
295
3020
431
544
323
1104
2135
671
510
650
487
2925
884
753
594
627
806
3149
5266
1401
593
915
456
610
1229
2333
707
377
1624
348
1878
777
1463
375
561
502
4206
800
1472
609
2430
2559
696
762
3556
441
673
1173
934
1332
451
649
590
500
368
427
274
584
553
903
2545
1778
1187
1448
712
1432
2598
2855
535
703
662
2973
2289
1274
840
1024
558
1667
843
583
1801
863
335
1362
700
562
1287
5939
648
1862
1843
5190
3912
1537
719
1074
298
1434
206
991
900
1163
3260
430
167
1380
3357
1518
1390
1224
182
786
308
885
2375
657
3010
548
819
710
3673
365
682
901
1676
445
588
413
522
667
303
633
391
1179
453
3365
1315
668
3200
289
1796
978
367
937
675
232
545
458
814
452
826
860
185
576
2431
388
1680
1128
916
340
711
412
893
644
440
363
1745
672
1419
3781
1938
1495
5980
1412
1869
1015
736
803
1818
640
698
1449
1557
518
1180
511
2869
1514
444
654
985
280
714
1854
2780
1528
605
1165
439
681
1865
225
2236
1438
3071
1442
660
5813
2250
1115
761
2930
3370
966
2024
1286
758
2019
687
582
690
988
1500
5742
1650
406
768
485
405
459
811
509
1030
881
2794
3233
931
529
1897
641
532
876
1175
3921
734
468
314
550
1979
679
475
872
1075
580
442
325
1276
438
386
2433
1464
1052
998
821
2300
1852
663
2056
2282
2883
637
273
1709
2307
691
2479
858
351
1672
1069
463
470
1248
2800
1654
653
1914
5619
426
670
400
2206
2238
2811
1775
2549
2356
913
284
678
1685
1461
538
855
578
699
5372
839
281
2803
601
828
2408
951
722
1811
534
866
471
987
1102
5863
198
658
512
886
1429
543
1896
1171
4143
902
356
2469
1107
746
967
1250
139
1861
3247
1146
854
496
726
1028
3063
684
3511
1185
747
935
616
947
572
5014
3663
269
226
278
604
1219
382
1699
394
490
949
849
1372
358
355
713
1208
450
1460
478
846
694
4183
744
875
354
1675
421
782
574
742
1067
4259
566
525
1582
1006
345
362
2457
2789
385
1136
623
5470
4392
1468
764
1749
816
905
1027
2833
1088
1304
1859
595
3017
396
332
1875
1094
1565
246
3325
2438
728
3231
3937
1008
848
1158
1139
3741
533
1486
3760
1991
404
2094
818
3206
5045
4286
621
1493
3373
973
505
524
1851
923
3952
3570
2442
692
1062
1375
2400
1072
326
1277
3197
685
5332
695
3514
883
5791
877
1403
838
1578
944
2817
498
395
651
366
2280
387
3531
738
469
318
5132
1181
756
464
1245
360
432
807
307
1270
4167
472
862
2156
906
481
560
567
799
433
568
1035
1671
262
491
301
5879
617
602
1191
547
659
466
389
448
542
300
499
3608
705
815
780
787
454
3839
813
704
5743
483
1903
497
2368
374
508
676
805
732
737
600
686
5829
5954
674
338
835
925
1290
938
2741
546
894
969
493
1034
834
429
565
1083
1642
1483
940
2012
517
1773
946
1149
729
3092
2312
552
629
1395
1355
2679
638
1246
631
5708
955
810
1239
2241
2128
1344
361
760
1711
904
833
607
4112
342
313
480
809
1609
614
1184
1348
683
1167
836
1349
4507
586
842
1467
514
870
2680
624
322
868
364

Unique values in 'IC5':
21975
19387
18837
14014
17991
16022
13491
17872
8708
17838
25775
20068
13803
0
10755@
9493
28124
17728
4236
17208
11779
26962
12038
12826
15614
17606
14023
8370
15627
12220
15336
9704
12617
14552
10511
33797
5273
10420
22281
20971
21179
17292
21094
10484
15150
11972
19185
7559
11792
10621
9497
14045
16561
26034
12935
19102
13816
11136
16891
12313
10498
16777
10692
15611
18492
11449
13218
49744
32964
32718
7361
13090
11192
9715
11428
19545
17882
14104
10427
24251
19518
25882
9819
11289
23170
21667
14428
13564
52654
10966
25787
33235
21875
9667
10726
10701
13293
9843
23786
6826
9747
10423
5727
10343
24424
13024
17363
13353
13782
15008
16427
12864
19399
9138
14442
19444
19537
10888
13162
12507
13561
29368
51280
26199
20842
19729
18590
10356
17420
53131
16163
13805
17718
8443
14513
10540
16019
11245
10385
20694
10857
13321
8956
28003
9453
26265
15886
60053
20691
8962
26135
25828
16194
13341
7139
17366
18907
16517
12576
7080
10792
23046
15502
13094
15350
15120
22033
43828
15438
9520
17783
13411
11815
17313
9064
33535
13852
21980
9685
11686
16084
14106
13344
7798
10873
8726
37411
15160
27469
21410
11360
20529
21559
16474
17458
34382
12452
12989
15149
18738
9980
21444
10244
10417
13115
19609
9547
11299
8381
8881
15105
9296
10985
14300
18236
13978
24736
15013
35544
31631
18525
17053
8860
13460
18497
22571
26360
20327
13462
13299
11279
21458
16476
24198
18663
19862
6682
21447
12806
12391
20795
10171
64833
16873
10521
23660
39481
19508
32640
14248
18042
9838
31111
18405
9248
13209
17344
16254
18824
19165
10269
9452
13011
24240
5043
15022
18029
9240
15010
6576
15070
21767
15361
12509
12835
19149
12621
15958
11052
15970
31773
9470
14538
17854
13231
13662
14293
9020
13669
17527
7115
17637
9853
15322
15910
9654
27608
15767
6845
10150
11115
9765
10720
11072
13490
8893
8246
18567
13135
9480
11401
10731
10488
12950
10979
14958
15491
10788
12518
24290
12601
27875
15936
12450
10719
12630
9706
17519
9569
9086
18427
14981
23212
22770
47363
14923
13150
94863
24758
29990
12960
17763
16926
7079
19029
10324
15499
13184
16190
13837
10041
7582
12388
24945
18572
11387
13896
13433
15195
10337
18391
11567
29871
11046
13190
10897
22667
9346
13753
16069
8947
8231
19923
30386
9078
24844
26462
10743
60492
19170
20171
12145
24747
15765
22845
11885
12885
12799
19082
14397
9583
16473
12623
10994
8359
9781
12588
15715
9190
13859
64190
12994
9192
8797
18279
13696
12539
17697
9637
16399
9114
17204
14377
23035
26104
7968
12494
26951
8046
15360
8314
12734
15179
12987
21648
17653
10031
12868
10910
13351
10245
12982
13538
23275
15002
42356
13445
13133
8709
15287
14394
12273
12929
8856
17032
10329
12513
18284
22648
20492
29540
19734
16133
17690
10959
29903
14496
42236
34012
12275
7089
14118
14345
12166
23023
20867
8456
29286
11849
11621
12519
17282
12451
25386
18133
8018
13079
9434
18951
43978
4437
13147
9840
12225
14661
10074
10581
37734
18247
23861
15256
28878
21871
14424
12271
6615
8675
20659
10590
10504
14663
17869
14121
11020
44570
14713
13377
12600
7683
32072
17655
11235
13716
42897
17187
13168
18591
11303
14658
20940
20557
174523
8898
13284
12221
17984
34070
12165
11140
17405
15017
9906
18369
14539
25985
19457
11139
15332
8075
8165
23188
34143
15788
13901
13399
25660
5159
22794
24693
24850
11659
14002
11714
12484
22015
12333
21051
11763
11979
23187
11061
9722
12206
14965
13570
16922
11912
17986
10858
31694
22221
27400
8172
8763
9994
9015
16211
21371
9374
35636
19234
9859
11313
12784
12940
13902
4578
9881
11467
19955
9540
15711
21821
11298
16752
11517
29875
15863
18252
9579
25558
7421
14635
10315
17607
15986
22215
31730
11438
12976
19466
9775
7285
10611
17557
22012
11857
19283
11108
35092
14995
12981
21857
13469
11242
12537
14571
17434
8614
14926
15398
10020
15011
19336
12512
11471
62084
9318
7939
9299
8725
9127
16974
10988
39534
7228
18694
14193
30429
8494
13339
22508
29888
11878
19493
21110
11592
19525
57103
11472
17897
12238
17774
17954
47863
34641
10342
7241
22914
15112
18730
13238
42488
33614
10470
8169
16982
30483
10716
32474
17806
9368
12714
17217
16271
17973
24913
19095
22630
19152
38212
18438
30968
14420
11608
14602
17908
16388
47151
17470
20135
13370
26712
11372
9182
14435
13818
14810
7438
35022
13044
38075
19246
15505
34593
14925
14758
12653
18586
12546
20395
18277
10728
7046
17306
39319
11462
8510
11919
6873
16726
10249
11152
23233
14070
11129
8518
8799
38854
17987
9987
15832
15669
10907
21467
10891
15739
8452
9769
16724
12335
10860
15652
11264
8760
11371
21284
24742
20138
10228
11660
8676
7817
23572
17372
8735
13227
13120
11310
16368
15917
5088
25039
10528
14886
9472
23530
14037
7587
11838
12961
8803
14237
57390
9154
11476
12418
10469
20176
11973
14914
10962
7915
16480
14194
13350
7982
11662
16104
9349
7586
13159
15876
12213
17874
19440
20987
18423
16525
9429
10325
11107
9808
14900
26731
22764
18592
44839
9809
20833
11696
27653
10539
14984
4877
17020
13763
14822
9800
19695
52437
13674
16670
68593
6834
10045
29018
18634
14629
17626
8382
15721
9572
21986
10633
19549
22008
12105
8524
13332
10176
12532
11033
9832
14451
16809
15523
18815
14114
28264
16556
16165
7025
12551
18560
18764
13568
16653
25768
21372
13817
10909@
11405
28285
16532
6997
28892
17149
27692
20693
13167
15490
10543
11851
36020
12534
10736
18361
12872
14561
29643
14210
13005
13456
20238
7822
16285
11050
22233
15694
16011
8563
17243
26817
14360
20426
14317
14668
19317
8650
12277
34677
11490
9665
18517
17633
30595
16568
10632
9399
19446
10779
8757
13840
12204
15746
12849
30766
15482
12097
19797
16007
23716
54642
15304
12894
10272
15108
23455
6842
14174
12368
17492
8533
15849
20665
12721
12121
12780
21200
9720
15138
7746
16833

Unique values in 'DOMAIN':
C2
T2
S2
R2
C1
S1
T1
U1
0
C3
S3
R3
R1
U3
U4
U2
T3

In [78]:
# and the -range of values- for -numerical columns-
df = pd.DataFrame(file1)
numerical_summary = df.describe()
print(numerical_summary)

            CONTROLN          IC1          IC4         HVP1        POBC1  \
count    1007.000000  1007.000000  1006.000000  1007.000000  1007.000000
mean    98913.029791   352.015889   445.059642    16.261172     6.847071
std     58306.879885   173.937638   178.115476    29.464477     9.333689
min        71.000000     0.000000     0.000000     0.000000     0.000000
25%     44930.500000   238.500000   325.000000     0.000000     1.000000
50%    101113.000000   319.000000   406.000000     1.000000     4.000000
75%    151559.000000   421.500000   527.000000    14.000000     9.000000
max    191779.000000  1500.000000  1263.000000    99.000000    73.000000

             POBC2          IC2          IC3      AVGGIFT        TCODE  \
count  1007.000000  1006.000000  1007.000000  1007.000000  1007.000000
mean     55.630586   401.658052   400.022840    11.863404    37.747766
std      21.593999   182.024618   168.901139     7.829965   213.010617
min       0.000000     0.000000     0.000000     2.361111     0.000000
25%      41.000000   283.000000   286.000000     7.285714     0.000000
50%      57.000000   364.500000   361.000000    10.000000     1.000000
75%      74.000000   474.750000   478.000000    14.500000     2.000000
max      96.000000  1500.000000  1185.000000    89.444444  4002.000000

               DOB     TARGET_D
count  1007.000000  1007.000000
mean   2555.362463    16.026604
std    2069.953954    14.586646
min       0.000000     1.000000
25%       0.000000    10.000000
50%    2501.000000    13.920000
75%    4308.500000    20.000000
max    8305.000000   200.000000

In [ ]:
# and give your -insights-.
Insights into the data's distribution and variability is now not correct because the data is not cleaned yet.

In [69]:
# Compute:
    # summary -statistics- such as -mean, median, mode, standard deviation, and quartiles- 
        # to understand the -central tendency- and -distribution- of the data for -numerical columns-. 
# You should also: 
    # provide your -conclusions- based on these -summary statistics-.

In [87]:
# Compute:
    # summary -statistics- such as -mean, median, mode, standard deviation, and quartiles- 
        # to understand the -central tendency- and -distribution- of the data for -numerical columns-. 
        
df = pd.DataFrame(file1)

mean_CONTROLN = df['CONTROLN'].mean()
median_CONTROLN = df['CONTROLN'].median()
mode_CONTROLN = df['CONTROLN'].mode()
std_CONTROLN = df['CONTROLN'].std()
min_CONTROLN = df['CONTROLN'].min()
max_CONTROLN = df['CONTROLN'].max()

print("\nSpecific Statistics:")
print(f"Mean CONTROLN: {mean_CONTROLN}")
print(f"Median CONTROLN: {median_CONTROLN}")
print(f"Mode CONTROLN: {mode_CONTROLN}")
print(f"Standard Deviation of CONTROLN: {std_CONTROLN}")
print(f"Minimum CONTROLN: {min_CONTROLN}")
print(f"Maximum CONTROLN: {max_CONTROLN}")

Specific Statistics:
Mean CONTROLN: 98913.02979145978
Median CONTROLN: 101113.0
Mode CONTROLN: 0       959
1     41243
2     41384
3    114721
4    127823
5    149152
6    150739
7    179563
Name: CONTROLN, dtype: int64
Standard Deviation of CONTROLN: 58306.879885202434
Minimum CONTROLN: 71
Maximum CONTROLN: 191779

In [94]:
mode_CONTROLN = df['CONTROLN'].mode()
mode_IC1 = df['IC1'].mode()
mode_IC4 = df['IC4'].mode()
mode_HVP1 = df['HVP1'].mode()
mode_POBC1 = df['POBC1'].mode()
mode_POBC2 = df['POBC2'].mode()
mode_IC2 = df['IC2'].mode()
mode_IC3 = df['IC3'].mode()
mode_AVGGIFT = df['AVGGIFT'].mode()
mode_TCODE = df['TCODE'].mode()
mode_DOB = df['DOB'].mode()
mode_TARGET_D = df['TARGET_D'].mode()

print(f"Mode CONTROLN: {mode_CONTROLN}")
print(f"Mode IC1: {mode_IC1}")
print(f"Mode IC4: {mode_IC4}")
print(f"Mode HVP1: {mode_HVP1}")
print(f"Mode POBC1: {mode_POBC1}")
print(f"Mode POBC2: {mode_POBC2}")
print(f"Mode IC2: {mode_IC2}")
print(f"Mode IC3: {mode_IC3}")
print(f"Mode AVGGIFT: {mode_AVGGIFT}")
print(f"Mode TCODE: {mode_TCODE}")
print(f"Mode DOB: {mode_DOB}")
print(f"Mode TARGET_D: {mode_TARGET_D}")

Mode CONTROLN: 0       959
1     41243
2     41384
3    114721
4    127823
5    149152
6    150739
7    179563
Name: CONTROLN, dtype: int64
Mode IC1: 0    205
1    246
2    302
Name: IC1, dtype: int64
Mode IC4: 0    302.0
1    337.0
2    376.0
3    379.0
4    472.0
Name: IC4, dtype: float64
Mode HVP1: 0    0
Name: HVP1, dtype: int64
Mode POBC1: 0    0
Name: POBC1, dtype: int64
Mode POBC2: 0    75
Name: POBC2, dtype: int64
Mode IC2: 0    256.0
Name: IC2, dtype: float64
Mode IC3: 0    317
1    342
Name: IC3, dtype: int64
Mode AVGGIFT: 0    15.0
Name: AVGGIFT, dtype: float64
Mode TCODE: 0    0
Name: TCODE, dtype: int64
Mode DOB: 0    0
Name: DOB, dtype: int64
Mode TARGET_D: 0    10.0
Name: TARGET_D, dtype: float64

In [95]:
print(f"Mode CONTROLN: {mode_CONTROLN.tolist()}")
print(f"Mode IC1: {mode_IC1.tolist()}")
print(f"Mode IC4: {mode_IC4.tolist()}")
print(f"Mode HVP1: {mode_HVP1.tolist()}")
print(f"Mode POBC1: {mode_POBC1.tolist()}")
print(f"Mode POBC2: {mode_POBC2.tolist()}")
print(f"Mode IC2: {mode_IC2.tolist()}")
print(f"Mode IC3: {mode_IC3.tolist()}")
print(f"Mode AVGGIFT: {mode_AVGGIFT.tolist()}")
print(f"Mode TCODE: {mode_TCODE.tolist()}")
print(f"Mode DOB: {mode_DOB.tolist()}")
print(f"Mode TARGET_D: {mode_TARGET_D.tolist()}")

Mode CONTROLN: [959, 41243, 41384, 114721, 127823, 149152, 150739, 179563]
Mode IC1: [205, 246, 302]
Mode IC4: [302.0, 337.0, 376.0, 379.0, 472.0]
Mode HVP1: [0]
Mode POBC1: [0]
Mode POBC2: [75]
Mode IC2: [256.0]
Mode IC3: [317, 342]
Mode AVGGIFT: [15.0]
Mode TCODE: [0]
Mode DOB: [0]
Mode TARGET_D: [10.0]

In [97]:
# provide your -conclusions- based on these -summary statistics-.
I don't have any conclusions about the content of the dataset because I don't know the backgound of the dataset.
Also is the data not cleaned yet to be able to provide conclusions.

In [84]:
# Compute: 
    # summary -statistics- for -categorical columns- 
    # and providing your -conclusions- based on these statistics.

In [100]:
# summary -statistics- for -categorical columns- 
df = pd.DataFrame(file1)
category_counts = df['CONTROLN'].value_counts()
print(category_counts)

150739    2
41384     2
114721    2
41243     2
179563    2
         ..
72438     1
144076    1
130609    1
43974     1
71425     1
Name: CONTROLN, Length: 999, dtype: int64

In [101]:
# summary -statistics- for -categorical columns- 
categorical_columns = df.select_dtypes(include=['object'])
summary_statistics = categorical_columns.apply(lambda col: col.value_counts())
print(summary_statistics)

         STATE  GENDER  HV1  IC5  DOMAIN
0          NaN     NaN  7.0  6.0    27.0
10020      NaN     NaN  NaN  1.0     NaN
10031      NaN     NaN  NaN  1.0     NaN
10041      NaN     NaN  NaN  1.0     NaN
10045      NaN     NaN  NaN  1.0     NaN
...        ...     ...  ...  ...     ...
WI        30.0     NaN  NaN  NaN     NaN
WY         3.0     NaN  NaN  NaN     NaN
feamale    NaN    11.0  NaN  NaN     NaN
female     NaN    16.0  NaN  NaN     NaN
male       NaN    28.0  NaN  NaN     NaN

[1778 rows x 5 columns]

In [ ]:
# Your code here

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# The marketing team wants to know the -top 5 less common customer locations-.
    # Create a -pandas Series object- that contains the -customer locations and their frequencies-,
    # and then retrieve the top 5 less common locations in -ascending order-.

In [120]:
file2

NameError: name 'file2' is not defined

In [109]:
# Create a -pandas Series object- that contains the -customer locations and their frequencies-,

df = pd.DataFrame(file1)
category_frequencies = df['STATE'].value_counts()

print("Frequencies for 'STATE' column:")
print(category_frequencies)

Frequencies for 'STATE' column:
CA            106
California    100
FL             87
TX             76
IL             66
MI             51
NC             42
WA             36
GA             33
IN             31
WI             30
MO             25
Cali           24
MN             22
OR             22
TN             20
AZ             20
SC             19
CO             19
OK             18
AL             17
IA             16
LA             15
KY             15
NV             10
KS             10
NE              9
ID              9
AR              9
SD              7
NM              7
MS              7
UT              5
HI              5
MT              5
ND              4
WY              3
CT              2
NJ              1
NY              1
Arizona         1
AP              1
Tennessee       1
Name: STATE, dtype: int64

In [115]:
# and then retrieve the top 5 less common locations in -ascending order-.
series = pd.Series(file1['STATE'])
top_5_asc = series.head(5)
print("Top 5 values in ascending order:")
print(top_5_asc)

Top 5 values in ascending order:
0    FL
1    IL
2    FL
3    NC
4    FL
Name: STATE, dtype: object

In [ ]:
# Your code here

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# The sales team wants to know the -total number of policies sold- for -each type of policy-. 
    # Create a -pandas Series object- that contains the -policy types- and their -total number of policies sold-, 
    # and then retrieve the -policy type- with the -highest number of policies sold-.
    
I can not find the policy types and there numbers inside given file1.csv

In [ ]:
# Create a -pandas Series object- that contains the -policy types- and their -total number of policies sold-,

In [ ]:
# and then retrieve the -policy type- with the -highest number of policies sold-.

In [ ]:
# Hint:

# Using -value_counts() method- simplifies this analysis.
# Futhermore, there is a -method- that -returns the index- of the -maximum value in a column or row-.

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [125]:
# --The sales team wants to know if -customers with Personal Auto- have a income than those with -Corporate Auto-
# --How does the -average income- compare -between the two policy types-?

# Use -loc- to create two -dataframes-: 
    # one containing only -Personal Auto policies- 
    # and one containing only -Corporate Auto policies-.
# Calculate the -average income- for -each policy-.
# Print the results.

I can not find the policy types 'Personal Auto policies' and 'Corporate Auto policies'inside given file1.csv.
I can not calculate the average income for each policy.
Is there another file available for these calculations?

In [ ]:
# Your code here

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here